/* GENERAL */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #282525;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.d-none {
  display: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  background-color: #0d0d0d;
}

header h1 {
  color: red;
}

header button {
  cursor: pointer;

  background-color: #282525;
  color: white;

  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

header button:hover {
  cursor: pointer;

  background-color: #3d3939;
  color: white;

  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.input-container > form > input,
.input-container > form > select,
.input-container > form > button {
  margin: 0 1rem;
}

/* MAIN */
main {
  background-color: #282525;
  min-height: calc(100vh - 79.88px);
}

.main-container {
  padding: 3rem 0;
}

.main-container h2 {
  color: white;
  padding-left: 2rem;
}

hr {
  margin-top: 3rem;
}

.movie-header-container,
.tv-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  color: white;
}
.movie-header-container span,
.tv-header-container span {
  padding: 0 1rem;
}

.movie-header-container button,
.tv-header-container button {
  cursor: pointer;

  background-color: #0d0d0d;
  color: white;

  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.movie-header-container button:hover,
.tv-header-container button:hover {
  opacity: 50%;
}

.tvseries-container {
  margin-top: 3rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 342px;

  margin: 1rem;

  background-color: #0d0d0d;
  border-radius: 10px;
  text-align: center;
}

.card img {
  max-width: 342px;
}

main .card ul {
  list-style: none;

  margin: 0;
  padding: 0;

  color: white;
}

.production-image {
  height: 100%;
}

.production-image img {
  display: block;
  height: 100%;

  border-radius: 10px;
}

.card > .content-card {
  display: none;
}

.card > .content-card li {
  margin: 1rem 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover .production-image {
  display: none;
}

.card:hover .content-card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 1rem;
}

.no-results-message {
  display: flex;
  justify-content: center;
  text-align: center;

  color: #1c1a1a;

  width: 100%;
  font-size: 3rem;
}

.no-results-message i {
  font-size: 10rem;
}

.no-results-message h2 {
  color: #1c1a1a;
}
