/* GENERAL */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #282525;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.d-none {
  display: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  background-color: #0d0d0d;
}

header h1 {
  color: red;
}

.input-container > form > input,
.input-container > form > select,
.input-container > form > button {
  margin: 0 1rem;
}

/* MAIN */
main {
  background-color: #282525;
  min-height: calc(100vh - 79.88px);
}

.main-container {
  padding: 3rem 0;
}

.main-container h2 {
  color: white;
  padding-left: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 400px;

  padding: 2rem;
  margin: 1rem;

  background-color: #0d0d0d;
  border-radius: 10px;
  text-align: center;
}

.card img {
  max-width: 342px;
}

main .card ul {
  list-style: none;

  margin: 0;
  padding: 0;

  color: white;
}
